body{
    background-color: #f0f0f0;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    border: #ff5722 solid 2px;
    padding: 20px;
}

h1{
    color: #ff5722;
    text-align: center;
    border-top:#ff5722 solid 2px;
    border-bottom:#ff5722 solid 2px;
    border-left:#ff5722 solid 2px;
    border-right:#ff5722 solid 2px;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    font-size: 25px;
    font-weight: bold;

}
p{
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    border: #ff5722 solid 1px;
    padding: 10px;
    background:linear-gradient
    (to right,red,orange,blue,
    green,yellow,pink,grey,
    purple,brown,blue,black,
    white);

}